<!doctype html>
<html>
  <body>
    <h1>Чек</h1>
    <p>Дата и время: {{ current_date }}</p>
    <table border="1">
      <tr>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Стоимость за шт.</th>
        <th>Общая стоимость</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.total_price }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="3">Итоговая сумма</td>
        <td>{{ total_price }}</td>
      </tr>
    </table>
  </body>
</html>
